.miframe
    .miframeheader
       h2 MesInfos

    .miframeinner
      .row.person
        .col-md-5
            .row
                .col-xs-3
                    img.img-responsive(src='img/Bonhomme.png')
                .col-xs-9
                    p.nomprenom= person.firstname
                        | &nbsp;
                        = person.lastname
                    - var bDate = new Date(person.birthdate)
                    - //p= person.birthdate
                    p= bDate.toDateString()
                    p= person.address1
                        br
                        = person.postcode
                        | &nbsp;
                        = person.city
                        br
                        = person.countryCode
        .col-md-7
            .row
                .col-sm-6
                    p 0
                        = person.phoneNumber
                    p= person.email

                    p
                        - if (person.childrenCount == 0)
                            | Aucun enfant
                        - else
                            = person.childrenCount
                            - if (person.childrenCount == 1)
                                | &nbsp; enfant
                            - else
                                | &nbsp; enfant 
                        - if (person.birthdateChild1)
                        - var c1BD = new Date(person.birthdateChild1)
                            br
                            = c1BD.toDateString()
                        
                        - if (person.birthdateChild2)
                        - var c2BD = new Date(person.birthdateChild2)
                            br
                            = c2BD

                .col-sm-6
                    p= person.csp
                    p= person.maritalStatus
                    p= person.drivingLicence

