.miframe
    .miframeheaderhid
    //-   h2 MesInfos

    .miframeinner
      .row.person
        .col-md-5
            .row
                .col-xs-3
                    img.img-responsive(src='img/Bonhomme.png')
                .col-xs-9
                    p.nomprenom= person.firstname.toLowerCase()
                        | &nbsp;
                        = person.lastname.toLowerCase()
                    - var bDate = new Date(person.birthdate)
                    - //p= person.birthdate
                    p= bDate.toString('dddd d MMMM yyyy')
                    p.address= person.address1.toLowerCase()
                        br
                        = person.postcode
                        | &nbsp;
                        = person.city.toLowerCase()
                        br
                        - if (person.countryCode = 'FR')
                            | France
                        - else
                            = person.countryCode
        .col-md-7
            .row
                .col-sm-6
                    - if (person.phoneNumber && person.phoneNumber.length == 9)
                        - var numStr = '0' + person.phoneNumber.substring(0, 1) +'&thinsp;' + person.phoneNumber.substring(1, 3) + '&thinsp;' + person.phoneNumber.substring(3, 5) + '&thinsp;' + person.phoneNumber.substring(5, 7) + '&thinsp;'+ person.phoneNumber.substring(7, 9)
                        p= numStr
                    -else
                        p= person.phoneNumber

                    p= person.email
                    p= person.csp
                    p= person.maritalStatus

                .col-sm-6
                    p
                        - if (person.childrenCount == 0)
                            | Aucun enfant
                        - else
                            = person.childrenCount
                            - if (person.childrenCount == 1)
                                | &nbsp; enfant :
                            - else
                                | &nbsp; enfants :
                        - for (var i=1; i<6; i++)
                            - if (person['birthdateChild' + i])
                                - var cBD = new Date(person['birthdateChild' + i])
                                br
                                = i
                                | ° enfant né le 
                                = cBD.toString('dddd d MMMM yyyy')
                        
                    p= person.drivingLicence

      .origin
            img.img-responsive(src="img/#{person.origin.toLowerCase()}nb.png")

