h2 MesDonnées «fixes»
.row
    .col-md-4
        p= person.lastname
            | &nbsp;
            = person.firstname
        p= person.birthdate
        p= person.adress1
    .col-md-4
        p= person.phoneNumber
        p= person.email
        p= person.hasChildren

    .col-md-4
        p= person.csp
        p= person.maritalStatus
        p= person.drivingLicence

