.col-md-3.pcl
    - var dt = new Date(pcl.timestamp)
    .time= dt.toString('H:mm')
    //-.time= dt.getHours()
    //-    | :
    //-    = dt.getMinutes()

    div
        - if (pcl.longitude)
                a(href="http://www.openstreetmap.org/?mlat=#{pcl.latitude}&mlon=#{pcl.longitude}#map=17/#{pcl.latitude}/#{pcl.longitude}", target="_blank", title="Lieu de la communication.")
                    img(src="img/Geoloc.png")

        - if (pcl.type == "VOICE")
        -   var typeStr = "Appel";
        - else
        -   var typeStr = "SMS"
        img(src="img/#{pcl.type}.png", title=typeStr)

        - if (pcl.direction == "INCOMING")
        -   var directionStr = "entrante";
        - else if (pcl.direction == "OUTGOING")
        -   var directionStr = "sortante";
        - else
        -   var directionStr = 'bidirectionnelle';
        img(src="img/#{pcl.direction}.png", title="Communication #{directionStr}")
    
        - if (pcl.correspondantNumber && pcl.correspondantNumber.length == 11 && pcl.correspondantNumber.substring(0, 2) == '33')
            //- pcl.correspondantNumber.startsWith('33'))    
            - var numStr = '+33' + '&thinsp;' + pcl.correspondantNumber.substring(2, 3) + '&thinsp;' + pcl.correspondantNumber.substring(3, 5) + '&thinsp;' + pcl.correspondantNumber.substring(5, 7) + '&thinsp;'+ pcl.correspondantNumber.substring(7, 9) + '&thinsp;' + pcl.correspondantNumber.substring(9, 11)

            .correspondantNumber(title="Numéro du correspondant")
                = numStr

        - else
            .correspondantNumber(title="Numéro du correspondant")
                = pcl.correspondantNumber

    .quantity(title="Durée de l'appel")
      - if (pcl.type == 'VOICE' && ! isNaN(pcl.chipCount))
        - var min = Math.floor(pcl.chipCount / 60)
        - var sec = pcl.chipCount % 60
        
        = min
        |’
        = sec
        |”

//-      - else
//-        = pcl.chipCount
//-        | &nbsp;
//-        = pcl.chipType

